In [28]:
import requests as requests
import pandas as pd
from bs4 import BeautifulSoup

response = requests.get('https://minecraft.wiki/smelting')
print(response.status_code)
soup = BeautifulSoup(response.content, 'html.parser')

print(soup.p.get_text())

200
Smelting is the process of obtaining refined goods from raw materials by heating them in a furnace, blast furnace or smoker. When items are smelted in either type of furnace, experience is dropped. Like crafting, smelting uses recipes to determine what item is produced.

In [33]:
dfl = pd.read_html(response.content, header=0)
df = dfl[0]
dfstr = df.astype(str)
df

,Product,Ingredient,Exp,Usage
0,Baked Potato,Potato,0.35,"Fills 5 (), while raw fills 1 ()."
1,Dried Kelp,Kelp,0.10,Fills 1 () and can be eaten faster than other ...
2,Steak,Raw Beef,0.35,"Fills 8 (), while raw fills 3 ()."
3,Cooked Porkchop,Raw Porkchop,0.35,"Fills 8 (), while raw fills 3 ()."
4,Cooked Mutton,Raw Mutton,0.35,"Fills 6 (), while raw fills 2 ()."
5,Cooked Chicken,Raw Chicken,0.35,"Fills 6 (), while raw fills 2 () and has a 30%..."
6,Cooked Rabbit,Raw Rabbit,0.35,"Fills 5 (), while raw fills 3 ()."
7,Cooked Cod,Raw Cod,0.35,"Fills 5 (), while raw fills 2 ()."
8,Cooked Salmon,Raw Salmon,0.35,"Fills 6 (), while raw fills 2 ()."

In [34]:
words = (
    pd.Series(dfstr.values.flatten())
    .str.split()
    .explode()
    .value_counts()
    .reset_index()
)

words.columns = ['Word', 'Count']

words = words[words['Word'] != 'nan']
words

         Word  Count
0       Fills      9
1       while      9
2         raw      8
3         (),      8
4        0.35      8
5       fills      8
6         ().      7
7         Raw      7
8      Cooked      6
9           2      4
10          3      3
11          5      3
12          6      3
13        and      2
14          1      2
15       Kelp      2
16    Chicken      2
17         to      2
18          8      2
19   Porkchop      2
20         ()      2
21       kelp      2
22         be      2
23        Cod      2
24     Potato      2
25     Mutton      2
26     Salmon      2
27     Rabbit      2
28     foods;      1
29   uncooked      1
30     faster      1
31        0.1      1
32        can      1
33      Dried      1
34      Baked      1
35      other      1
36       than      1
37      eaten      1
38      dried      1
39        Can      1
40         is      1
41      Steak      1
42     block.      1
43       Beef      1
44  inedible.      1
45       also      1
46       used      1
47      craft      1
48        has      1
49     chance      1
50        30%      1
51          a      1
52       give      1
53     status      1
54     Hunger      1
55        the      1
56    effect.      1